@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", serif;
}

li {
  list-style: none;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* Start Login Styling */
form {
  width: fit-content;
  margin: 150px auto;
  border: 1px solid black;
  padding: 20px;
  border-radius: 5px;
  max-width: calc(100% - 30px);
}
form .title {
  margin-bottom: 20px;
}

form input {
  display: block;
  padding: 10px;
  width: 500px;
  max-width: 100%;
  margin-bottom: 20px;
  font-size: inherit;
  font-family: inherit;
  border-radius: 2px;
  outline: none;
  border: 1px solid #ccc;
}
form button {
  padding: 5px 20px;
  font-size: 14px;
  font-family: inherit;
  background-color: #eee;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

form .error {
  color: red;
  font-size: 14px;
  margin-bottom: 20px;
  text-align: center;
  font-style: italic;
  text-decoration: underline;
}
/* End Login Styling */

/* Start Home Styling */
section.home .logout-btn {
  position: absolute;
  right: 20px;
  top: 10px;
  font-weight: bold;
  border-radius: 5px;
  display: flex;
  align-items: center;
  transition-duration: 0.3s;
  justify-content: center;
  padding: 5px 20px;
  background: #eee;
  cursor: pointer;
  opacity: 0.7;
}

section.home .logout-btn:hover {
  opacity: 1;
}

section.home::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 135px;
  background: linear-gradient(180deg, #007145, #000000);
  z-index: -1;
}

.basic-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* text-align: center; */
  gap: 20px;
  padding: 40px 0;
  font-size: 17px;
}
.basic-info .row {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.basic-info .row .col {
  padding: 6px 25px;
  background-color: #ccc;
  border-radius: 5px;
  min-width: 150px;
}
.basic-info .row .col .full-name {
  font-weight: bold;
}
.basic-info .row .col .label {
  display: block;
  text-align: left;
  font-size: 13px;
  color: green;
}

/* Charts Styling */
.charts {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 100px;
  flex-wrap: wrap;
  padding: 50px 0;
}

.charts .chart {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 30px;
}

.charts .chart .title {
  text-align: center;
}

.charts .chart svg {
  max-width: 100%;
}

/* End Home Styling */
